= simple_form_for [:admin, :booking, @services_hotel] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_booking_services_hotels_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.services_hotels').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12
                    = f.input :name, as: :string
                  .col-xs-12
                    %label.control-label.string.optional{for: "services_room_name"}
                      = t('activerecord.attributes.icon')
                    .icons
                      - 2.times do |i|
                        %img.img-icon{src: "/assets/app/icons/#{i+1}.png", width: '10%', onClick: "setIcon(#{i+1})", id: "icon-#{i+1}"}
                    = f.input :icon, as: :string, input_html: { class: 'hide-input'}, label: false
                  .col-xs-12
                    = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } }
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
:scss
  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .hide-input{
    display: none;
  }
  .img-icon{
    border: 1px solid #d2d6de;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px; 
  }
- if action_name.eql?('edit') || action_name.eql?('update') || action_name.eql?('create')
  :javascript
    $("#icon-" + #{@services_hotel.icon}).css('border-color', '#f44336')
:javascript
  function setIcon(value){
    $('.img-icon').css('border-color', '#d2d6de')
    $("#icon-" + value).css('border-color', '#f44336')
    $('#services_hotel_icon').val(value)
  }

