= simple_form_for [:admin, :booking, @prices_room] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_booking_prices_rooms_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.prices_rooms').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12
                    = f.input :room_id, input_html: { min: 0 }
                  .col-xs-12
                    = f.input :price, input_html: { min: 0 }
                  .col-xs-12
                    = f.input :amount_people, input_html: { min: 0 }
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
