%head
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %title= content_for?(:title) ? yield(:title) : 'Keppler Admin'
  = stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = favicon_link_tag 'admin/favicon.png'
  %link{href: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css", rel: "stylesheet"}/
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"}

