= simple_form_for [:admin, :booking, @reservation] do |f|
  .container
    .row
      .col-lg-2
        = link_to admin_booking_reservations_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
          .arrow-back.btn.btn-default
            %i.fa.fa-angle-left
            = t('keppler.actions.back')

    .row
      .col-lg-12
        .box.slice-box
          .box-header.with-border
            %h3.box-title= t('keppler.models.pluralize.reservations').humanize
            .box-tools.pull-right
              %a.btn.btn-box-tool{'data-widget': 'collapse', type: 'button'}
                %i.fa.fa-minus
          .box-body
            %table.table.table-bordered
              %tbody
                .form-padding
                  .col-xs-12
                    = f.input :name, as: :string
                  .col-xs-12
                    = f.input :email, as: :string
                  .col-xs-12
                    = f.input :adults, input_html: { min: 0 }
                  .col-xs-12
                    = f.input :kids, input_html: { min: 0 }
                  .col-xs-12
                    = f.input :babies, input_html: { min: 0 }
                  .col-xs-12
                    = f.input :origin, as: :string
                  .col-xs-12
                    = f.input :motive, as: :string
                  .col-xs-12
                    = f.input :checkin, as: :string, input_html: { class: 'datepicker' }
                  .col-xs-12
                    = f.input :checkout, as: :string, input_html: { class: 'datepicker' }
                  .col-xs-12
                    = link_to_add_association 'Añadir Habitación', f, :orders, class: "btn input-field"
                  .col-xs-12
                    = f.simple_fields_for :orders do |c|
                      = render 'order_fields', :f => c
                  .col-xs-12
                    = f.input :payment, input_html: { min: 0 }
                  .col-xs-12
                    = f.input :observations, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } }
                  .col-xs-12
                    = f.input :total_price, input_html: { min: 0 }
                  .col-xs-12
                    .pull-right
                      = f.button :submit, t('keppler.actions.save'), name: '_save', class: 'btn-primary'
                      = f.button :submit, t('keppler.actions.save_and_add_another'), name: '_add_other'
